.not-found{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.codigo{
    font-size: 150px;
    color: red;
}

.mensagem{
    font-size: 30px;
    color: red;
}

.link{
    text-decoration: none;
    margin-top: 10px;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

.link:hover{
    transition: all 0.5s;
    color: red;
    background-color: white;
}